.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.menubox {
  display: inline-block;
  height: 300px;
  overflow: hidden;
  width: 400px;
}

.boxoverlay {
  background-color: #d30ab6;
  height: 300px;
  opacity: 0.7;
  margin-top: 133px;
  top: 300px;
  transition: 250ms;
  width: 400px;
}

.boxwords {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.upperleft {
  background-color: #111111;
}

.upperright {
  background-color: #444444;
}

.lowerleft {
  background-color: #777777;
}

.lowerright {
  background-color: #999999;
}
