.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  text-align: center;
}

.menubox {
  display: inline-block;
  height: 300px;
  width: 400px;
  text-align: center;
}

.upperleft {
  background-color: #111111;
}

.upperright {
  background-color: #444444;
  margin-left: -4px;
}

.lowerleft {
  background-color: #777777;
}

.lowerright {
  background-color: #999999;
  margin-left: -4px;
}
